@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.container {
  height: calc(100vh - map-get($heights, 'header'));
}

.contentContainer {
  background-color: rgba($color: #000000, $alpha: 0.6);

  &Text {
    padding: 16px 16px;

    @include atMedium {
      margin-top: 60px;
    }
  }
}
