@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.container {
  display: grid;
  width: 100%;
  gap: #{map-get($spacings, 'temp-7')};
  place-items: center;
  grid-template-columns: 1fr;

  @include atMedium {
    display: grid;
    width: 100%;
    gap: #{map-get($spacings, 'temp-7')};
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
