@import '@/styles/base/_variables';
@import '@/styles/base/mixins';

.type1 {
  &CheckContainer {
    background-color: #5243c22a;
  }
}

.item2 {
  &Container {
    flex-direction: column;

    @include atMedium {
      flex-direction: row;
    }
  }
}

.gradientText {
  background-color: $bgBrand;
  background-image: linear-gradient(45deg, $bgBrand, $bgBrandSecondary);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
