@import '@/styles/base/_variables';

.input::placeholder {
  color: silver;
}

.input:focus {
  outline: none;
}

.icon {
  position: absolute;
  top: 46px;
  right: 6px;
}

.lineThrough {
  position: absolute;
  top: 33px;
  right: 13px;
  height: 20px;
  background-color: map-get($colors, 'gray-dark');
  width: 2px;
  transform: rotate(45deg);
}
