@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.container {
  height: calc(100vh - map-get($heights, 'header'));
}

.contentContainer {
  padding: 16px 16px;

  @include atMedium {
    margin-top: 60px;
  }
}
